<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem">
        <form
          style="text-align: center; padding: 10px"
          #form="ngForm"
          (ngSubmit)="onSubmit()"
        >
          <h1>Checkout form</h1>
          <div>
            <label>Your Name</label>
            <input
              type="text"
              name="Name"
              class="form-control"
              required
              minlength="8"
              placeholder="Enter your name"
              [(ngModel)]="Name"
              (ngModelChange)="NameChanged($event)"
              #name="ngModel"
              style="margin: 20px"
            />
            <div style="color: red" *ngIf="name.touched && !name.valid">
              <small *ngIf="name.errors?.['required']">
                this field is required
              </small>
              <small *ngIf="name.touched && name.errors?.['minlength']">
                minlength is 8
              </small>
            </div>
            <br />
            <label>Your Address</label>
            <input
              type="text"
              name="Address"
              class="form-control"
              required
              minlength="8"
              placeholder="Enter your address"
              [(ngModel)]="Address"
              #address="ngModel"
              style="margin: 20px"
            />
            <div style="color: red" *ngIf="address.touched && !address.valid">
              <small *ngIf="address.errors?.['required']">
                this field is required
              </small>
              <small *ngIf="address.touched && address.errors?.['minlength']">
                minlength is 8
              </small>
            </div>
            <br />
            <label>payment details</label>
            <input
              type="text"
              name="CreditCard"
              class="form-control"
              required
              minlength="16"
              maxlength="16"
              placeholder="Enter your Credit Card"
              [(ngModel)]="Credit"
              #card="ngModel"
              [pattern]="CreditCard"
              style="margin: 20px"
            />
            <div style="color: red" *ngIf="card.touched && !card.valid">
              <small *ngIf="card.errors?.['required']">
                this field is required
              </small>
              <small *ngIf="card.touched && card.errors?.['pattern']"> number only </small>
              <br>
              <small *ngIf="card.errors?.['minlength']"> Enter 16 digits</small>
            </div>
          </div>

          <br />
          <h5>
            Your <b>${{ sum }}</b> order is confirmed!
          </h5>

          <input
            type="submit"
            [disabled]="form.invalid"
            value="submit"
            class="btn btn-primary"
            style="margin: 20px"
          />
        </form>
      </div>
    </div>
  </div>
</div>
